<!DOCTYPE html>
<html>

<head>

<title>Image Text Extractor</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

<h1>Screenshot Image to Text Converter</h1>
<form action="/extract" method="post" enctype="multipart/form-data">

<input type="file" name="image" accept="image/*" required>

<br><br>

<button type="submit">Extract Text</button>

</form>

{% if result %}

<h2>Extracted Text</h2>

<textarea id="outputText" readonly>{{ result }}</textarea>

<br><br>

<button type="button" onclick="copyText()">Copy Text</button>

{% endif %}

</div>

<script>

function copyText(){

var text = document.getElementById("outputText");

text.select();
text.setSelectionRange(0, 99999);

navigator.clipboard.writeText(text.value);

alert("Text Copied!");

}

</script>

<footer style="text-align:center; margin-top:40px; font-size:14px; color:gray;">

<p>Developed by <b>Narendra Krishnan KS</b></p>

<p>AI & ML Enthusiast</p>

<p>
<a href="https://www.linkedin.com/in/narendra-krishnan-k-s-a0646137b/" target="_blank">
LinkedIn Profile
</a>
</p>

</footer>

</body>
</html>